# data
./data
data/accounts/

# builds
dist

# cache files
**/__pycache__
**/*.parquet

# user-specific files
.project
.vscode
trading/cli/configuration/prod.yml

# config files
trading/configs
!trading/configs/sample_ppo.json
!trading/configs/agents/ppo.json
!trading/configs/agents/ddpg.json
!trading/configs/data/SPY_5.json
!trading/configs/envs/env.json
!trading/configs/features/features.json
!trading/configs/trading/alpaca_paper_trading.json
!trading/configs/trading/local_paper_trading.json
!trading/configs/trading/remote_paper_trading.json
!trading/configs/remote_paper_trading.json


# logs
logs
out

# docs
docs/_build
docs/build
docs/source/autoapi

# trained models
models

# test
.coverage
coverage_html_report
reports
results
trading/test/temp

# test data
!trading/test/data/TEST_APPLE.parquet
!trading/test/data/TEST_MULTI_TICKERS.parquet
!trading/test/data/TEST_TIME_STEP.parquet
!trading/test/data/TEST_SET.parquet
!trading/test/data/LIVE.parquet
!trading/test/data/TEST_INCOMPLETE_MULTI_TICKERS.parquet
