# data
./data
data/accounts/

# builds
dist

# cache files
**/__pycache__
**/*.parquet

# user-specific files
.project
.vscode
trading/cli/configuration/prod.yml

# logs
logs
out

# docs
docs/_build
docs/build
docs/source/autoapi

# trained models
models

# test
.coverage
coverage_html_report
reports
results

# test data
!trading/test/data/TEST_APPLE.parquet
!trading/test/data/TEST_MULTI_TICKERS.parquet
!trading/test/data/TEST_TIME_STEP.parquet
!trading/test/data/TEST_SET.parquet
!trading/test/data/LIVE.parquet
