# data
./data

# builds
dist

# cache files
**/__pycache__
**/*.parquet

# user-specific files
.project
.vscode
trading/cli/configuration/prod.yml

# logs
logs
# docs
docs/_build
docs/build

# trained models
models